{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="alert alert-info" role="alert">
    <i class="fa fa-chevron-right"></i> Displaying all <strong>Courses</strong>
</div>

<table class="table table-bordered table-striped">

    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
    {% for course in course_list %}
      <tr>
        <td> {{ forloop.counter }} </td>
        <td> {{ course.pk }} </td>
        <td> <b> {{ course }}  </b> </td>
      </tr>
    {%  endfor  %}
    </tbody>

</table>

{% endblock %}
